body {
    background-color: #EFEFEF;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

hr {
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul, ol {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a {
  color: inherit;
  text-decoration: none;
}

.topNavBar {
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    transition: all 0.5s;
    color: #CCCED0;
}

.topNavBar.sticky{
    padding: 10px 0px;
    background: white;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3C4450
}

.topNavBar nav {
    padding-top: 7px;
}

.topNavBar nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    margin: 0px 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    display: block;
    font-weight: bold;
    color: inherit;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
}

.topNavBar nav>ul>li>a:hover::after {
    content: '';
    background: #e06567;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    animation: menuSlide 1s;
}

.topNavBar nav>ul>li>a.active::after {
    content: '';
    background: #e06567;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    animation: menuSlide 1s;
}

.topNavBar .submenu>li{
    white-space: nowrap;
}

@keyframes menuSlide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.topNavBar .submenu{
    display: none;
}

.topNavBar .submenu.active{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    animation: menuSlide 1s;
}

.topNavBar .logo {
    
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 24px;
    font-family: "Arial Black";
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #D96E6E;
}
.topNavBar .logo .card {
    color: #9A9DA1;
}
.banner {
    height: 515px;
    background-image: url('./img/rs-cover.jpg');
    background-position: center center;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8)
}

.topNavBar-inner {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

.userCard .welcome {
    background: #D96E6E;
    color: #FFF;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    border: 10px solid transparent;
    border-top-width: 0px;
    border-left-color: #D96E6E;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .text>h1 {
    margin-top: 18px;
}

.userCard .text>hr {
    margin: 20px 0px;
}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt,
.userCard dl dd {
  padding: 7px 0px;
}

.userCard dl dt {
  float: left;
  width: 30%;
  font-weight: bold;
}

.userCard dl dd {
  float: left;
  width: 70%;
  color: rgb(157, 160, 167);
}

.userCard footer {
    background: #D96E6E;
    text-align: center;
}

.userCard footer a {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    padding: 5px 5px;
    margin: 16px;
}

.userCard footer a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.userCard footer svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}
body > main .downloadResume-wrapper {
  text-align: center;
}

body > main .downloadResume {
  font-size: 15px;
  /* font-family: "Open Sans"; */
  line-height: 16px;
  font-weight: bold;
  padding: 21px 55px;
  border: 1px solid #CBCDCF;
  background: #EFEFEF;
  display: inline-block;
  border-radius: 2px;
  margin: 32px 0px;
  transition: box-shadow 0.3s;
}
body > main .downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
}

body>main .selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    font-size: 18px;
}

section.skills {
    max-width: 940px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

section.portfolio {
    max-width: 940px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.skills h2,
section.portfolio h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

section.skills > ol {
    margin-top: 50px;
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
} 

section.skills > ol > li {
    float: left;
    background: white;
    width: 50%;
    box-sizing: border-box;
}

section.skills > ol > li:nth-child(odd) {
    padding-right: 40px;
} 

section.skills > ol h3 {
    font-size: 14px;
    line-height: 1.1;
}

div.processBar {
    background-color: #F7E2E2;
    height: 5px;
    border-radius: 2px;
    margin: 4px 0px 40px 0px;
}

div.processBar .process {
    background: #e8676b;
    width: 70%;
    height: 5px;
    border-radius: 2px;
}

section.portfolio nav {
    margin-top: 43px;
    display: inline-block;
}

section.portfolio nav > ol > li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfolio nav > ol > li:first-child {
    margin-left: 0px;
}

section.portfolio nav .bar {
    height: 5px;
    background: white;
    margin-top: 10px;
    border-radius: 2px;
}

section.portfolio nav .bar .bar-inner {
    background: #D96E6E;
    height: 5px;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio nav .bar.state-1 .bar-inner{
    margin-left: 0px;
    width: 40px;
}

section.portfolio nav .bar.state-2 .bar-inner{
    margin-left: 63px;
    width: 49px;
}

section.portfolio nav .bar.state-3 .bar-inner{
    margin-left: 134px;
    width: 55px;
}

section.portfolio .works {
    height: 597px;
}

section.portfolio .works {
    margin-top: 41px;
    height: 597px;
    position: relative;
}

section.portfolio .works > .big,
section.portfolio .works > .small {
    position: absolute;
}

.swiper-container {
    margin-top: 30px;
}
.swiper-slide >a >img {
  width: 750px;
}
.swiper-button-prev {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: white;
}
.swiper-button-next {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: white;
}

section {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: #f4f4f4;
}

.messages-content > ul {
    max-width: 700px;
    margin: 0 auto;
    border-top: 1px solid #DDD
}

.messages-content > ul > li{
    padding: 16px;
    border-bottom: 1px solid #DDD
}

.messages > form {
    max-width: 700px;
    margin: 30px auto 0;
}